:root {
    --main-radius: 5px;
    --main-padding: 5%;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #2e2e2e;
    margin:0px;
    padding: 0px;
    width: 100vw;
  }
  
  .container {
    display: grid;
    width: 80vw;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "home-me home-bio"
      "research research"
      "research1 research1"
      "research2 research2"
      "teaching teaching"
      "data-teach anth-teach" 
      "footer footer";
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    font-size: 1fr;
    color: white;
    background-color: #2e2e2e;
    text-align: center;
  }


  a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  #af-list{
    display: inline;
  }

  #af-list img{
    width: 20%;
    border-radius: 50%; 
    padding: 1%;
  }

  h1{
    font-size: 250%;
  }

  h4{
    color: grey;
  }

  .sub-title{
    color:#b6bcc2b0;
  }

  .brief{
    font-weight:bold;
    font-size: 100%;
  }


  #header {
    grid-area: header;
    padding: 1%;
    background-color: #2e2e2e;
    min-width: 100%;
    opacity: 0.95;
  }

  #header a{
    margin-right: 1rem;
  }

  ol,ul {
    list-style: none;
    }

  #nav-links li{
      float: left;
  }

  .curr-link a{
    color: #b6bcc2b0;

  }
  
  .inactive-link a{
      color: white;
  }  

  #nav-links a:hover {
    color: #b6bcc27c;
    transition: 0.3s;
  } 

  a:hover {
    color: #b6bcc27c;
    transition: 0.3s;
  } 

  #EJR {
    padding-right: 7%;
    font-size: 200%;
  }
  
  #home-me {
    grid-area: home-me;
    padding: var(--main-padding);
    justify-content: center;
  }

  #home-me a{
    display: inline;
  }

  #home-bio {
    grid-area: home-bio;
    padding: var(--main-padding);
    text-align: left;
    padding-top: 0;
  }

  #home-bio a{
    display: inline;
  }

   #profile-img {
    width: 80%;
    border-radius: 50%; 
    margin-top: -10%;
  }

  #home-bio-square {
    margin-left: -10%;
    width: 100%;
    padding: 4%;
    box-shadow: 0 0 0 2px white,
    0 0 0 12px #2e2e2e,
              0 0 0 14px white;
  }

  #first-sen{
    font-size: 150%;
  }


  .bio-icons{
    width: 15%;
    padding: 1%;
    margin-top:4%;
}
  
  #research{
    grid-area: research;
    margin-top: 0%;
  }

  #teaching{
    grid-area: teaching;
    margin-top: -5%;
  }

  #anth-teach{
    grid-area: anth-teach;
  }

  #data-teach{
    grid-area: data-teach;
  }

  #teach-buffer{
    grid-area: teach-buffer;
  }

  #research1 {
    grid-area: research1;
    padding: var(--main-padding);
    width: 100%;
    margin-top: -5%;
  }

  #research2 {
    grid-area: research2;
    padding: var(--main-padding);
    width: 100%;
    margin-top: -10%;
  }

  .img img{
    border-radius: 50%; 
    width: 90%;
    margin-top: 10%;
    border: solid 8px white;
    padding: 1%;
  }

  .research-left {
    width: 40%;
    float: left;
    margin-right: 5%;
  }

  .research-left .text{
    width: 55%;
    float: left;
    text-align: right;
  }

  .research-left .img{
    width: 40%;
    float: left;
    margin-left: 5%;
  }

  .research-right {
    width: 40%;
    float: left;
  }

  .research-right .text{
    width: 55%;
    float: right;
    text-align: left;
  }

  .research-right .img{
    width: 40%;
    float: left;
    margin-right: 5%;
  }

  figure a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
  }


  footer {
    grid-area: footer;
    padding: var(--main-padding);
  }

  .anthro-color {
    color: rgba(250, 211, 84);
  }

  .data-color {
    color: #3ca9f2;
  }

  .pdf-button{
    color: rgba(250, 211, 84);
    display: inline;
    margin: 0;
}

.data-button{
    color: #3ca9f2;
    display: inline;
    margin: 0;
}

.teaching img{
  display: inline-block;
  text-align: center;
}

.teaching-img img {
  vertical-align: top;
  width: 100%;
}

.teaching-img figcaption {
  text-align: left;
  background: white;
  color: black;
}

.img figure{
  margin: 0;
}

figure img {
  vertical-align: top;
}

figure figcaption{
  padding: 4%;
  padding-top: 1%;
}


@media only screen and (max-width: 1000px) {
  .container {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "home-me"
      "home-bio"
      "research"
      "research1"
      "research2"
      "teaching"
      "data-teach"
      "anth-teach"
      "footer";
  }
  header ul {
    justify-content: space-between;
  }

  #nav-links {
    line-height: 300%;
    margin:0;
  }

  #home-bio{
    width: 100%;
  }

  #home-bio-square {
    margin-left: 0;
    width: 85%;
  }

  #home-me{
    width: 100%;
    text-align: center;
  }

  .research-left {
    width: 100%;
    float: left;
  }

  .research-right {
    width: 100%;
    float: left;
  }

  h4{
    margin-top: -3%;
  }

}

@media only screen and (min-width: 1001px) {

  #nav-links {
    line-height: 400%;
    margin:0;
  }

  #header{   
    position: sticky;
    position: -webkit-sticky;
    top: 0%;}

    #data-teach{
      width: 70%;
      margin-left: 30%;
    }
  
    #anth-teach{
      width: 70%;
      margin-right: 30%;
    }

}

@media only screen and (min-width: 1800px) {
.container{
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

}